<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333506983761-qknj5phqbrj1ce95abeqf3u4k4jcpkst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333506983761-qknj5phqbrj1ce95abeqf3u4k4jcpkst</string>
	<key>API_KEY</key>
	<string>AIzaSyClIJcnpa1uZKInxTEBRjsHsAWf3rR8YUk</string>
	<key>GCM_SENDER_ID</key>
	<string>333506983761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rudderstack.integration.test.firebase.ios</string>
	<key>PROJECT_ID</key>
	<string>fir-testingproject-b639c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-testingproject-b639c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333506983761:ios:fde0c50272356624188570</string>
	<key>DATABASE_URL</key>
	<string>https://fir-testingproject-b639c.firebaseio.com</string>
</dict>
</plist>